body{
    background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-repeat: no-repeat;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.container{
    width: 50%;
    margin: auto;

}
.container .titulo{
    display: flex;
    justify-content: space-between;
    border: 1px solid hsl(217, 16%, 45%);
    border-radius: 12px;
    padding: 3%;
}
.container .titulo h2{
    line-height: 18px;
    margin: 0;
    text-transform: uppercase;
    color: white;
}
.container .titulo .score{
    padding: 3%;
    background: white;
    border-radius: 12px;
    align-items: center;
    display: grid;
}
.container .titulo .score h2{color: hsl(229, 25%, 31%);}
.container .titulo .score h4{
    margin: 0;
    text-align: center;
    color: hsl(229, 25%, 31%);
}

.container .jogo{
    height: 35vh;
    margin-top: 15%;
    position: relative;
    background-image: url('images/bg-pentagon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.container .jogo .opcao{
    position: absolute;
    padding: 3%;
    background: white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
}

.container .jogo .pedra{
    border: 13px solid hsl(349, 70%, 56%);
    top: -25%;
    left: 40%;
}
.container .jogo .papel{
    border: 13px solid hsl(230, 89%, 65%);
    top: 15%;
    right: 25%;
}
.container .jogo .tesoura{
    border: 13px solid  hsl(40, 84%, 53%);
    bottom: -20%;
    right: 30%;
}
.container .jogo .spock{
    border: 13px solid hsl(189, 58%, 57%);
    bottom: -20%;
    left: 30%;
}
.container .jogo .lagarto{
    border: 13px solid hsl(261, 72%, 63%);
    left: 25%;
    top: 15%;
}
.container .resultado{
    display: none;
    justify-content: space-between;    
    margin-top: 5%;
}
.container .resultado .jogador, .container .resultado .jogar-novamente, .container .resultado .algoritmo{
    text-align: center;
    width: 100%;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.container .resultado .jogador h5, .container .resultado .algoritmo h5{
    font-size: 18px;
    margin: 0;
    margin-bottom: 50px;
}
.container .resultado .jogar-novamente h2{
    font-size: 40px;
    margin: 0;
    margin-bottom: 5px;
}
.container .resultado .jogar-novamente button{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: hsl(229, 25%, 31%);
    padding: 6% 3%;
}
.container .resultado .jogador img, .container .resultado .algoritmo img{
    height: 150px;
    width: 150px;
    object-fit: contain;
    background: white;
    padding: 10%;
    border-radius: 100%;
}
.container .resultado .jogar-novamente{
    display: grid; 
    align-content: center;
    padding: 0 10%;
}
.container .resultado .jogador .pedra, .container .resultado .algoritmo .pedra{border: 20px solid hsl(349, 70%, 56%);}
.container .resultado .jogador .papel, .container .resultado .algoritmo .papel{border: 20px solid hsl(230, 89%, 65%);}
.container .resultado .jogador .tesoura, .container .resultado .algoritmo .tesoura{border: 20px solid  hsl(40, 84%, 53%);}
.container .resultado .jogador .spock, .container .resultado .algoritmo .spock{border: 20px solid hsl(189, 58%, 57%);}
.container .resultado .jogador .lagarto, .container .resultado .algoritmo .lagarto{border: 20px solid hsl(261, 72%, 63%);}